body{
	background: #3B3E47;
}
header{
	background: #4A4E57;
	color: #D08495;
	text-align: center;
}
H1 + P {
    margin-top: -1em; 
}

.table{
	position: relative;
	margin: 0 auto;
  	width: 400px;
}
li:nth-child(even) {
    background-color: #7A7691;
    height: 30px;
  }
li:nth-child(odd) {
    background-color: #8883A1;
    height: 30px;
input:checked + ul {
    background: #fc0;
   }
.rand{
	text-align: center;
	width: 200;
	height: 600;
	background: #4A4F55;
	color:#995E67 ;
}